mixin card(car)

 .main_information 
  .product_card
    .image
     img(src='')
    .information 
      .title_info 
       .title=car.title
      hr.line(width='100%')
      .body_info 
       .text=car.type
       span.info_in_radius=car.payload
       span.info_in_radius=car.gross_weight
      .footer_info
        .info_in_border=car.year
        .info_in_border=car.mileage
        .info_in_border=car.axle_configuration
        .info_in_border=car.power
    .price=car.price 
  